img_check
senet_data/irfan_data
senet_data/sdk_data
senet_data/train_data
senet_data/val
senet_data/r16/raw_og
senet_data/r16/raw_tt
senet_data/r16/s1
senet_data/r16/sorted
senet_data/fin_main_tt
train_test/old
train_test/out
tt_l1o/out_l1o_camp*
tt_l1o/out_l1o_res*
train/out
test/out*
inf/out
results
adv_res
vis_conf
nlp
nohup.out
*.log
*key.json
*.out
